<div class="container">

    <h1 class="heading">{{productDetails?.name}}</h1>
  
    <div class="box-container">
  
        <div class="box">
            <img src="{{productDetails?.image}}" alt="">
            <h2>Price:  {{productDetails?.price | currency:"INR"}}</h2>
            
            <p><b>Category:</b> {{productDetails?.categories}}</p>
            <p><b>Description:</b> {{productDetails?.desc}}</p>
            <div>
                <a (click)="addToCart()" *ngIf="!removeCartLink" class="btn" style="background: #de7906;">Add To Cart</a>&nbsp;
                <a routerLink="/customer" *ngIf="!removeCartLink" class="btn">Books</a>
                <a (click)="removeFromCart()" *ngIf="removeCartLink" class="btn" style="background: #de7906;">Remove From Cart</a>&nbsp;
                <a routerLink="/customer" *ngIf="removeCartLink" class="btn">Books</a>
            </div>
        </div>
  
    </div>
  
  </div>
  
